@import 'reset.css';
:root{
  --main-color: 
}

h1{
  font-size: 32px;
}
h2{
  font-size: 26px;
  margin-bottom: 10px;
}

button{
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}



button:hover{
  background: #999;
}


.main{
  width: 700px;
  display: grid;
  place-content: center;
  /* place-items: center; */
  margin-inline: auto;
  padding-bottom: 80px;

  background: #dfdfdf;
}



/* Header area */
.header-wrap{
  position: fixed;
  bottom: 0;
  width:100%;
  height: 80px;
  display: grid;
  align-items: center;

  background :#fff;
  box-sizing: border-box;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 3;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.header-wrap ul {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-around;

  /* flex-direction: column;
  align-items: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-wrap a{
  display: block;
  width: 38px;
}

.header-search{
  width:36px;
}

.header-myprofile{
  width: 34px;
}

.App-link {
  color: #61dafb;
}

.header-wrap .active{
  display: block;
  color : red
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


/* Data List Component */
.data-list-area {
  display: grid;
  /* place-content: center; */
  position: relative;
  padding : 2rem 0 ;
  grid-row-gap:54px;
}

.data-list-each{
  /* grid-row: 1; */
  /* grid-column: 1; */
}

.data-img-wrap{
  width: 480px;
  overflow: hidden;
  border-radius: 12px;
}

.data-list-img{
  width:fit-content;
  object-fit: cover;
  grid-row: 1;
  grid-column: 1;

}

.data-list-detail{
  color : #999;
  /* grid-row:1; */
  /* grid-column: 1; */
}

.data-list-button{
  display: block;
  width: 100%;
  height:48px;
  border-radius: 8px;
  margin-top : 20px;
  cursor: pointer;
}

.data-list-event{
  position: absolute;
  left: 10px;
  top: 8%;
  background: #fff;
  padding: 0.3rem;
  border-radius: 4px;
}






/* Data detail area */
.detail-main{
  width: 700px;
  display: grid;
  place-content: center;
  /* place-items: center; */
  margin-inline: auto;
  padding-bottom: 80px;

  background: #dfdfdf;
}

.detail-header{
  position:relative;
  top:0;
  left:0;
  right:0;
  max-width :700px;
  height:64px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  place-items: center;
  padding:0  1.2rem;
  border-bottom: 1px solid rgb(221, 221, 221);
  z-index: 1;
}

.detail-back-btn{
  cursor: pointer;
}

.detail-area{
  display: grid;
  /* place-content: center; */
  position: relative;
  padding : 2rem 24px ;
  grid-row-gap:54px;
}

.detail-button-area{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 700px;
  height: 68px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  place-items: center;

  background: #fff;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.1);;
  z-index: 100;
}

.detail-info-wrap{
  text-align: center;
}

.detail-button-area .detail-price{
  margin-top: 10px;

}

.detail-price-won{
  font-size: 18px;
  font-weight: 600;
}


.detail-submit-button {
  width: 200px;
  height:48px;
  border-radius: 8px;
  border:1px solid 
}


.detail-calendar-Sday{
  color : red;
  font-weight:800;
}


.detail-calendar-Eday{
  color : blueviolet;
  font-weight:800;

}
