@import 'reset.css';
:root{
  --color-main: #82bd69;
  --color-strong: #3d692c;
  --color-light : #d3eac8;

  --front-basic:16px;
  --font-strong : 18px;
  --font-extra-strong :22px;

}

h1{
  font-size: 32px; 

}
h2{
  font-size: 26px;
  margin-bottom: 10px;
}

p{
  margin: 4px 0;
}

button{
  padding: 0.2rem 0.5rem;
  cursor: pointer;

}


button:hover{
  background: var(--color-strong);
  color : #fff;

}


.main{
  width: 680px;
  display: grid;
  /* place-content: center; */
  place-items: center;
  margin-inline: auto;
  padding-bottom: 68px;

  box-shadow: 0px 9px 10px 1px rgb(0 0 0 / 15%);
  /* border-left: 1px solid var(--color-light);
border-right: 1px solid var(--color-light); */
}



/* Header area */
.header-wrap{
  position: fixed;
  bottom: 0;
  left:0;
  right:0;
  width:100%;
  height: 68px;
  display: grid;
  align-items: center;

  background :#fff;
  box-sizing: border-box;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 3;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.header-wrap ul {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-around;

  /* flex-direction: column;
  align-items: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-wrap a{
  display: block;
  width: 38px;
}

.header-search{
  width:36px;
}

.header-myprofile{
  width: 34px;
}

.App-link {
  color: #61dafb;
}

.header-wrap .active{
  display: block;
  color : red
}



footer{
  padding:1rem 24px;
  font-size: 12px;
  color : #999;
  background: #efefef;
}




/* Data List Component */
.data-list-area {
  display: grid;
  /* place-content: center; */
  position: relative;
  padding : 2rem 0 ;
  grid-row-gap:70px;
}

.data-list-each{
  width:600px;
  display: grid;
  justify-content: center;

}

.data-img-wrap{
  /* width: 480px; */
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 20px;
}

/* .data-list-img{
  width:fit-content;
  object-fit: cover;
  grid-row: 1;
  grid-column: 1;

} */

.data-list-location{
  color :#000;
  font-weight: 600;
}

.data-list-price{
  color : #000;
  font-size: var(--font-strong);
  font-weight: 600;
  margin-top: 20px;
}

.data-list-detail{
  color : #656565;
  position: relative;
  /* grid-row:1; */
  /* grid-column: 1; */
}

.data-list-score{
  position: absolute;
  top: 0;
  right: 10px;
  color : #000;
}

.data-list-button{
  display: block;
  width: 100%;
  height:48px;
  border-radius: 8px;
  margin-top : 30px;
  cursor: pointer; 
  border: 1px solid var(--color-light);
}

.data-list-event{
  position: absolute;
  left: 10px;
  top: 8%;
  background: #fff;
  padding: 0.3rem;
  border-radius: 4px;
}









/* search area */
.search-wrap{
  height: 54px;
  border: 1px solid var(--color-main);
  border-radius: 30px ;
  overflow: hidden;
  display: flex;
  margin:30px 10px 0;
  width: fit-content;
  margin-inline: auto;

}

.search-wrap form{
  display:inline-grid;
  grid-template-columns: 240px minmax(0, 1fr);

}

.search-wrap input{
  border: 0;
  outline: transparent;
  background: transparent;
  padding-left: 20px;
  
}

.search-btn{
  border: 0;
  height: 100%;
  width: 100%;
  padding:0 30px;
  color :var(--color-main);
}

.search-svg{
  display: block;
}





















/* Data detail area */
.detail-main{
  width: 680px;
  display: grid;
  place-content: center;
  /* place-items: center; */
  margin-inline: auto;
  padding-bottom: 68px;
  box-shadow: 0px 9px 10px 1px rgb(0 0 0 / 15%);
}

.detail-header{
  position:relative;
  top:0;
  left:0;
  right:0;
  width :680px;
  height:64px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  place-items: center;
  padding:0  1.2rem;
  border-bottom: 1px solid rgb(221, 221, 221);
  z-index: 1;
  box-sizing: border-box;
}

.detail-back-btn{
  cursor: pointer;
}

.detail-area{
  width: auto;
  display: grid;
  /* place-content: center; */
  position: relative;
  grid-row-gap:54px;
  justify-items: center;
}


.detail-describe{
  width: 580px;
  position: relative;
}

.detail-score-wrap{
  position: absolute;
  top: 405px;
  right:0;
}

.detail-area img{
  border-radius: 8px;;
  width: 100%;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.8);
}

.detail-area h2{
  margin-top: 20px;
}


.detail-number-add{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width:600px;
  padding:1rem;
  border: 3px solid var(--color-main);
  border-radius: 12px;
  box-sizing: border-box;
}

.detail-number-add button{
  padding: .5rem 1rem;
  border-radius: 8px;
}

.detail-number-add-describe{
  font-size: 12px;
}

.decrease:hover{
  background: var(--color-light);
}


.detail-basic-info, .detail-benefit-info, .detail-cancel-info{
  width: 580px;
  /* margin-bottom: 4px; */
  color : #757575;
  margin-bottom: 2rem;;
}
.detail-basic-info-theme, 
.detail-benefit-info-theme, 
.detail-cancel-info-theme,
.detail-calendar-theme,
.detail-number-add-theme{
  width: 100%;
  color: #000;
  font-weight: bold;
  font-size: var(--font-strong);
  margin-bottom: 20px;
}

.detail-button-area{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 680px;
  height: 68px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  place-items: center;

  background: #fff;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.detail-info-wrap{
  text-align: center;
}

.detail-button-area .detail-price{
  margin-top: 10px;

}

.detail-price-won{
  font-size: 16px;
  font-weight: 600;
}


.detail-submit-button {
  width: 200px;
  height:48px;
  border-radius: 8px;
  border:1px solid var(--color-light)
}


.detail-calendar-Sday{
  color : var(--color-main);
  font-weight:800;
}


.detail-calendar-Eday{
  color : var(--color-strong);
  font-weight:800;
}

.detail-calendar-day-check{
  color : #999;
  font-style: italic;
}

















/* Search Button CSS */
.popup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px; /* Optional rounded corners */
  transform: translateY(100%); /* Start hidden off-screen */
  transition: transform 0.3s ease-in-out; /* Animation settings */
  z-index: 100; /* Set a high z-index to ensure it's on top */
  height :80dvh;
  overflow: auto;
}

.popup.open {
  transform: translateY(0); /* Slide up to visible position */

}

body.overflow-hidden {
  /* Prevent body scrolling on popup open */
  overflow: true;
}

.search-detail-act-btn{
  position: absolute;
  top:50px;
  right :12%;

}

.search-detail-form-wrap {
  display: grid;
  justify-items: center;
  row-gap: 20px;
}

.search-detail-btn{
  position: absolute;
  right:10%;
}

