@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
@import 'reset.css';
:root{
  --color-main: #82bd69;
  --color-strong: #3d692c;
  --color-light : #d3eac8;

  --font-small:12px;
  --font-basic:16px;
  --font-strong : 18px;
  --font-extra-strong :22px;

  --border-basic : #c9c9c9;

}

#root{
font-family: "Noto Serif KR", serif;
}
h1{
  font-size: 32px; 

}
h2{
  font-size: 26px;
  margin-bottom: 10px;
}

p{
  margin: 4px 0;
}

button{
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  background: #00000000;

}


button:hover{
  background: var(--color-strong);
  color : #fff;

}


.main{
  max-width: 680px;
  display: grid;
  /* place-content: center; */
  place-items: center;
  margin-inline: auto;
  padding-bottom: 68px;

  box-shadow: 0px 9px 10px 1px rgb(0 0 0 / 15%);
  /* border-left: 1px solid var(--color-light);
border-right: 1px solid var(--color-light); */
}



/* Header area */
.header-wrap{
  position: fixed;
  bottom: 0;
  left:0;
  right:0;
  width:100%;
  height: 68px;
  display: grid;
  align-items: center;

  background :#fff;
  box-sizing: border-box;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 3;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.header-wrap ul {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-around;

  /* flex-direction: column;
  align-items: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-wrap a{
  display: block;
  width: 38px;
}

.header-search{
  width:36px;
}

.header-myprofile{
  width: 34px;
}

.App-link {
  color: #61dafb;
}

.header-wrap .active{
  display: block;
  color : red
}



footer{
  padding:1rem 24px;
  font-size: 12px;
  color : #999;
  background: #efefef;
}



.ppt, .git-server, .git-client{
  position: fixed;
  right : 7%;
  width: 50px;
  height: 50px;
  font-size: 10px;

  border-radius: 50%;
  cursor: pointer;

  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.git-client{
  bottom : 34%;
  color:#fff;
  background: var(--color-strong);
}

.git-server{
  bottom : 22%;
  background:var(--color-main)
}


.ppt{
  bottom : 10%;
  background: var(--color-light);
  color : #555555
}


/* Data List Component */
.data-list-area {
  display: grid;
  /* place-content: center; */
  position: relative;
  padding : 2rem 0 ;
  grid-row-gap:70px;
}

.data-list-each{
  width:600px;
  display: grid;
  justify-content:center;

}

.data-list-description{
  max-height: 40px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-top: 10px;
}

.data-img-wrap{
  width: 520px;
  height: 500px;
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 20px;
}

.data-list-img{
  width:100%;
  height:100%;
}

.data-list-detail p:nth-last-of-type(1){
  margin-top: 10px;
  font-weight: bold;
}

.data-list-detail{
  width: 520px;
}

.data-list-location{
  color :#000;
  font-weight: 600;
}

.data-list-price{
  color : #000;
  font-size: var(--font-strong);
  font-weight: 600;
  margin-top: 20px;
}

.data-list-detail{
  color : #656565;
  position: relative;
  /* grid-row:1; */
  /* grid-column: 1; */
}

.data-list-score{
  position: absolute;
  top: 0;
  right: 10px;
  color : #000;
}

.data-list-button{
  display: block;
  width: 100%;
  height:48px;
  border-radius: 8px;
  margin-top : 30px;
  cursor: pointer; 
  border: 1px solid var(--color-light);
}

.data-list-event{
  position: absolute;
  left: 10px;
  top: 8%;
  background: #fff;
  padding: 0.3rem;
  border-radius: 4px;
}



/* bookingConfirm */








.confirm-brief-booking,
.confirm-booking-info,
.confirm-accommodation-info{

}




/* search area */
.search-wrap{
  height: 54px;
  border: 1px solid var(--color-main);
  border-radius: 30px ;
  overflow: hidden;
  display: flex;
  margin:30px 10px 0;
  width: fit-content;
  margin-inline: auto;

}

.search-wrap form{
  display:inline-grid;
  grid-template-columns: 240px minmax(0, 1fr);

}

.search-wrap input{
  border: 0;
  outline: transparent;
  background: transparent;
  padding-left: 20px;
  
}

.search-btn{
  border: 0;
  height: 100%;
  width: 100%;
  padding:0 30px;
  color :var(--color-main);
}

.search-svg{
  display: block;
}





















/* Data detail area */
.detail-main
{
  width: 680px;
  display: grid;
  place-content: center;
  /* place-items: center; */
  margin-inline: auto;
  padding-bottom: 68px;
  box-shadow: 0px 9px 10px 1px rgb(0 0 0 / 15%);
}

.confirm-main
{
  width: 680px;
  display: grid;
  place-content: center;
  /* place-items: center; */
  margin-inline: auto;
  box-shadow: 0px 9px 10px 1px rgb(0 0 0 / 15%);
}

.detail-header,
.confirm-header{
  position:relative;
  top:0;
  left:0;
  right:0;
  width :680px;
  height:64px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  place-items: center;
  padding:0  1.2rem;
  border-bottom: 1px solid #dddddd;
  z-index: 1;
  box-sizing: border-box;
}

.detail-back-btn,
.confirm-back-btn{
  cursor: pointer;
}

.detail-area{
  width: auto;
  display: grid;
  /* place-content: center; */
  position: relative;
  grid-row-gap:54px;
  justify-items: center;
}


.detail-describe{
  width: 580px;
  height: 100%;
  position: relative;
}

.detail-describe > P:nth-last-of-type(1){
  margin-top: 10px;
}

.detail-score-wrap{
  position: absolute;
  bottom : 100px;
  right:0;
}

.detail-area img{
  border-radius: 8px;;
  width: 100%;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.8);
}

.detail-area h2{
  margin-top: 20px;
}


.confirm-number-add button{
  padding: .5rem 1rem;
  border-radius: 8px;
}

.detail-number-add-describe{
  font-size: 12px;
}

.decrease:hover{
  background: var(--color-light);
}


.increase:disabled, 
.decrease:disabled{
  cursor: not-allowed;
}


.detail-basic-info, .detail-benefit-info, .detail-cancel-info{
  width: 580px;
  /* margin-bottom: 4px; */
  color : #757575;
  margin-bottom: 2rem;;
}
.detail-basic-info-theme, 
.detail-benefit-info-theme, 
.detail-cancel-info-theme,
.detail-calendar-theme,
.detail-number-add-theme{
  width: 100%;
  color: #000;
  font-weight: bold;
  font-size: var(--font-strong);
  margin-bottom: 20px;
}

.detail-button-area{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 680px;
  height: 68px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  place-items: center;

  background: #fff;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.detail-info-wrap{
  text-align: center;
}

.detail-button-area .detail-price{
  margin-top: 10px;

}

.detail-price-won{
  font-size: 16px;
  font-weight: 600;
}


.detail-submit-button {
  width: 200px;
  height:48px;
  border-radius: 8px;
  border:1px solid var(--color-light)
}




.detail-calendar-day-check{
  color : #999;
  font-style: italic;
}









.confirm-extra-number-theme,
.confirm-user-info-theme,
.confirm-accommodation-info-theme,
.confirm-booking-info-theme
{
  width: 100%;
  color: #000;
  font-weight: bold;
  font-size: var(--font-strong);
  margin-bottom: 20px;
}

.confirm-area{
  width: auto;
  display: grid;
  /* place-content: center; */
  position: relative;
  grid-row-gap:54px;
  /* justify-items: center; */
}


.confirm-user-info,
.confirm-accommodation-info,
.confirm-extra-numbers{
  margin-inline : 2rem;
}

.confirm-user-info,
.confirm-accommodation-info{
  padding-bottom: 40px;
  border-bottom: 1px solid #c9c9c9;
}





.confirm-extra-number-theme{
  margin-bottom: 10px;
}

.confirm-extra-numbers > span{
  width: 100%;
  display: inline-block;
  text-align: right;
  margin-top: 4px;
  font-size: 12px;
  color:#999;
}
.confirm-number-add{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width:100%;
  padding:1rem;
  border: 2px solid var(--color-main);
  border-radius: 12px;
  box-sizing: border-box;
}

.confirm-calendar-Sday{
  color : var(--color-main);
  font-weight:800;
}


.confirm-calendar-Eday{
  color : var(--color-strong);
  font-weight:800;
}

.confirm-booking-info{
  border-top: 1px solid #c9c9c9;
  padding-inline: 2rem;
  padding-top:2rem;
}

.confirm-booking-info >h2 {
  text-align: right;
  font-weight: bold;
  margin-top: 20px;
  padding-top: 19px;
  border-top: 1px solid #c9c9c9;
}

.confirm-booking-date{
  display: inline-block;
}

.confirm-brief-booking p:nth-last-of-type(1){
  text-align: right;
  margin-top: 1rem;
  /* font-size: var(--font-strong); */
}

.confirm-brief-booking > p >span{
  font-weight: bold;
}

.confirm-brief-date-basic{
  text-align: right;
  padding: 1rem 0;
  margin : 0.8rem 0;
  /* border-top: 1px solid #c9c9c9; */
  border-bottom: 1px solid #c9c9c9;
  font-weight: bold;
}

.confirm-payment-button{
  width:300px;
  margin-inline:auto;
  padding: 1.2rem 3rem;
  background:  var(--color-main);
  border-radius: 12px;
  font-weight: bold;
}









/* Search Button CSS */
.popup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px; /* Optional rounded corners */
  transform: translateY(100%); /* Start hidden off-screen */
  transition: transform 0.3s ease-in-out; /* Animation settings */
  z-index: 100; /* Set a high z-index to ensure it's on top */
  height :80dvh;
  overflow: auto;
}

.popup.open {
  transform: translateY(0); /* Slide up to visible position */

}

body.overflow-hidden {
  /* Prevent body scrolling on popup open */
  overflow: true;
}

.search-detail-act-btn{
  position: absolute;
  top:50px;
  right :12%;

}

.search-detail-form-wrap {
  display: grid;
  justify-items: center;
  row-gap: 20px;
}

.search-detail-btn{
  position: absolute;
  right:10%;
}






.login-page-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}





/* My page CSS Area */
.mypage-wrap{
  height: 100svh;
  display: grid;
  justify-items: center;
  min-width:400px;
  align-items: center;
  padding-bottom: 80px;
}



.login-wrap > p{
padding: 1rem 0 ;
position: relative;
}

.login-wrap > p > span >span{
  visibility: hidden;
  font-size: var(--font-small);
  color: #757575;

  position: absolute;
  bottom:100%;
  left: 50%;
  width: max-content;
  padding:.9rem .7rem;
  border-radius: 8px;
  transform: translate(-50%, 30%);

  background: var(--color-light);
  z-index: 1;
  }

  .login-wrap > p > span:hover > span{
    visibility: visible;
  }

.login-wrap button{
  width: 100%;
  padding: 1rem 3.2rem;
  border-radius: 12px;
}

.login-wrap form{
  margin-bottom:50px;
}

.login-wrap label{
  position : absolute;
  top : 8px;
  left: 16px;
  /* font-size: 1em; */
  transition : font-size 0.3s ease;
}

.email-wrap:focus-within input:focus + label, 
.pw-wrap:focus-within input:focus + label {
  /* font-size: 12px; */
  top:-10px;
  left : -10px;
}

.pw-wrap{
  margin: 1rem 0;
}

.login-wrap input[type=email],
.login-wrap input[type=password]
{
  font-size: 17px;
  border: none;
  outline: none;
  width:300px;
}

.email-wrap, .pw-wrap{
  border: 1px solid;
  padding: 1.8rem 1rem 6px;
  border-radius: 8px;
  transition : border-color .6s;
  position: relative;
}
  
.email-wrap:focus-within, .pw-wrap:focus-within{
  border-color: var(--color-main);
  font-size: 10px;
}

.login-wrap button[type=submit]{
  border: 1px solid var(--color-light);
}
.naver-btn{
  background: #03c75a;
  color : #fff;
  font-weight: bold;
}












.mypage-user{
  width:500px;
  border-radius: 18px;
  padding: 2rem 1.2rem;
}

.mypage-header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64px;
  /* line-height: 64px; */
  border-bottom: 1px solid var(--border-basic) ;
}

.mypage-user-wrap{
  margin-bottom: 50px;
}

.mypage-user-wrap img{
  display: inline-block;
  width:50px;
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}

.mypage-user-else{
  display: flex;
  justify-content: space-around;
  margin-inline: auto;
  border: 1px solid var(--color-main);
  border-radius: 12px;
  margin-top: 20px;
  text-align: center;
}

.mypage-user-else{
  padding: 1rem 0;
}

.mypage-user-else  p:nth-of-type(1){
  font-size: var(--font-small);
}

.mypage-user-else  p:nth-last-of-type(1){
  margin-top: 10px;
  font-size: var(--font-extra-strong);
}

.mypage-user-benefit ul{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 50px;
  
}

.mypage-user-benefit li{
  padding: 0.8rem;
  border: 1px solid var(--color-light);
  border-radius: 8px;
  text-align: center;
}

/* .mypage-setting-wrap{
  display: grid;
  grid-template-columns: 1fr 1fr;
} */

.mypage-setting-wrap > div{
  padding: 1.2rem 0 ;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-basic);
}

.mypage-setting-wrap > p{
  padding: 1.2rem 0 ;

}

.mypage-logout-btn{
  display: block;
  width:200px;
  margin: 40px auto 0 ;
  padding:0.8rem 0.5rem;
  border-radius: 8px;
  color : var(--border-basic);
  border: 1px solid var(--border-basic);
}








/* Search area */
.search-input-wrap{
  margin-top: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding:1rem 3rem;
  border-radius: 28px;
}

.search-input-wrap input{
  border: none;
}